# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.pytest_cache/
.mypy_cache/
.coverage*
htmlcov/

# Environments
.env
.venv/
venv/
ENV/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Logs
/data/logs/
*.log

# Models and large files
/models/**
!models/**/.gitkeep
/data/vector_store/**
!data/vector_store/.gitkeep

# Docker
**/.docker/

# VSCode
.vscode/

# Application Cache
.session_id_cache

# Others
*.swp
*.swo
